@media screen and (max-width: 481px){
  /*============= price ==============*/
  .price{
    background: #fff;
    margin-top: 28px;
    table{
      width: 100%;
      caption{
        font-size: 30px;
        text-align: center;
      }
      img{
        max-height: 140px;
        text-align: center;
      }
      th{
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      .price-table{
        vertical-align: middle;
        font-size: 30px;
      }
    }
  }
  /*==================================*/
}