@media screen and (max-width: 768px){
  /*============= price ==============*/
  .price{
    background: #fff;
    margin-top: 28px;
    h3{
      font-size: 20px;
    }
    table{
      width: 100%;
      caption{
        font-size: 20px;
      }
      td{

      }
      img{
        max-height: 140px;
        text-align: left;
      }
      th{
        text-align: center;
        width: 50%;
      }
      .price-table{
        font-size: 18px;
      }
      .two-row{
        font-size: 14px;
        text-align: left;
      }
    }
  }
  /*==================================*/
}