@media screen and (max-width: 991px){
  /*======== header =============*/
  header{
    .navbar{
      a{
        text-decoration: none;
      }
      .brand{
        max-height: 85px;
        float: left;
        padding-left: 10px;
        .scale(1.3,1.8);
      }
      .header-name{
        line-height: 0;
        h1{
          margin: 0;
          text-align: center;
          text-shadow: -2px 0px 15px #000;
          color: #199dcd;
          float: left;
        }
        h2{
          margin: 0;
          text-align: right;
          text-shadow: -2px 0px 15px #000;
          color: #199dcd;
          float: left;
          line-height: 1.5;
          padding-left: 10px;
        }
      }
      .navbar-toggle{
        .icon-bar{
        }
      }
      .collapse{
        float: none;
        margin-top: 10px;
      }
      .nav{
        display: inline-block;
        float: none;
        li{
          display: inline-block;
          padding: 0 7px;
        }
        a{
          font-size: 16px;
          line-height: 2;
          padding: 5px 15px;
        }:hover{
           border-radius: 30px;
           -webkit-box-shadow: 0px 0px 10px 4px rgba(250, 250, 250, 0.2);
           box-shadow: 0px 0px 10px 4px rgba(250, 250, 250, 0.2);
           color: #212121;
         }
        :focus{
          border-radius: 30px;
          -webkit-box-shadow: 0px 0px 10px 4px rgba(250, 250, 250, 0.2);
          box-shadow: 0px 0px 10px 4px rgba(250, 250, 250, 0.2);
          color: #212121;
        }
      }
    }
  }
  /*============= main ==============*/
  .main{
    h1{
    }
    .owl-carousel{
      margin-top: 20px;
      img{
        max-height: 320px;
        width: 100%;
      }
      h2{
        bottom: 10px;
        left: 25px;
        font-size: 26px;
      }
    }
    article{
      p{
      }
    }
  }
  /*==================================*/

  /*============= price ==============*/
  .price{
    background: #fff;
    margin-top: 28px;
    table{
      width: 100%;
      caption{
        font-size: 26px;
      }
      img{
        max-height: 200px;
        text-align: left;
      }
      th{
        text-align: center;
      }
      .price-table{
        font-size: 22px;
      }
      .two-row{
        font-size: 18px;
      }
    }
  }
  /*==================================*/
  /*=============== library ==========*/
  .library{
    img{
      max-height: 197px;
    }
  }
  /*==================================*/
  /*============= contacts ==============*/
  .contacts{
    background: #fff;
    margin-top: 28px;
    padding: 25px;
    .inner-contacts{
      position: relative;
      margin-top: 35px;
      .soc-seti{
        span{
        }
        a{
          height: 50px;
          width: 50px;
          position: absolute;
          opacity: 0.7;
          top: -15px;
          left: 135px;
        }:hover{
           opacity: 1;
         }
        .vk{
          padding-left: 15px;
          text-align: left;
          a{
            left: 150px;
          }
        }
        .fb{
          padding-left: 15px;
          margin-top: 0px;
          text-align: left;
          a {
            left: 150px;
          }
        }
        .od{
          padding-left: 15px;
          margin-top: 0px;
          text-align: left;
          a {
            left: 185px;
          }
        }
      }
    }
    .phone{
      padding: 15px 0 5px;
      a{
        padding-left: 80px;
        color: #000;
      }:hover{
         cursor: pointer;
         color:#199dcd;
         text-decoration: none;
       }
      .mts{
        margin-top: 50px;
        text-align: center;
        span{
          background: url("../img/mts-bank.png") no-repeat;
          height: 50px;
          width: 80px;
          position: absolute;
          top: -15px;
          .scale(0.8,0.8);
        }
      }
      .velcom{
        margin-top: 50px;
        text-align: center;
        span{
          background: url("../img/velcom_logo.png") no-repeat;
          height: 50px;
          width: 80px;
          position: absolute;
          top: -15px;
          .scale(0.8,0.8);
        }
      }
      .skype{
        margin-top: 50px;
        text-align: center;
        span{
          background: url("../img/skype.png") no-repeat;
          height: 50px;
          width: 50px;
          position: absolute;
          top: -15px;
          font-size: 36px;
        }
        a{
          padding-left: 70px;
        }
      }
    }
  }
  /*==================================*/
  footer{
    text-align: center;
    p{
      margin: 0;
    }
    .ip{
    }
    .my{
      float: none !important;
    }
  }

}