@media screen and (max-width: 991px){
  /*============= price ==============*/
  .price{
    background: #fff;
    margin-top: 28px;
    table{
      width: 100%;
      caption{
        font-size: 26px;
      }
      img{
        max-height: 200px;
        text-align: left;
      }
      th{
        text-align: center;
      }
      .price-table{
        font-size: 22px;
      }
      .two-row{
        font-size: 18px;
      }
    }
  }
  /*==================================*/
}