section{
  padding: 10px;
}
.name-block{
    font-size: 20px;
    color: #199dcd;
    font-weight: bold;
}
/*============= main ==============*/
.main{
  background: #fff;
  margin-top: 115px;
  .owl-carousel{
    img{
      height: 400px;
      width: 100%;
    }
  }
}
/*==================================*/
/*============= price ==============*/
  .price{
    background: #fff;
    margin-top: 28px;
    .glyphicon{
      top: 3px;
      padding-right: 10px;
    }
    a{
      text-decoration: none;
    }
    .panel{
      p{
        text-align: center;
        padding-top: 10px;
      }
    }
  }
/*==================================*/
/*============= about ==============*/
.about{
  min-height: 700px;
  background: #fff;
  margin-top: 28px;
}
/*==================================*/
/*============= contacts ==============*/
.contacts{
  min-height: 700px;
  background: #fff;
  margin-top: 28px;
}
/*==================================*/